@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fff;

}
.drag-area{
  border: 2px dashed #5256ad;
  height: 300px;
  width: 500px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border: 2px solid #fff;
}
.drag-area .icon{
  font-size: 100px;
  color: #fff;
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  text-shadow: 2px 2px red;
  color:#5256ad;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #5256ad;
  text-shadow: 2px 2px red;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: rgba(0, 128, 0, 0.3);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.drag-middle 
{
  position:absolute; 
  top:15%;
  left:50%;
  transform: translate(-50%,-100%);
}
.drag-file
{
  position:absolute; 
  top:45%;
  left:49%;
  transform: translate(-40%,-800%);

}
.list{
  font-size : 20px;
  right:150%;
  left: 5%;
  transform: translate(40%, -40%);
}